
h1 { 
    color: #FF7CAC;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
h2 {
    font-family: verdana;
    font-size: 210px; 
    color: #5762D5;
}


h3 {
    font-family: verdana;
    font-size: 210px;
}
