<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
</head>
<body>

<ul>
  <li><a href="#long_envior">Loe</a></li>
  <li><a href="#long_feelgood">News</a></li>
  <li><a href="#med_envior">Contact</a></li>
  <li><a href="#med_womenintech">About</a></li>
</ul>

</body>
</html>

