<html>
  <title>PNN</title>
  <head>
     <link rel="stylesheet" type= "text/css" href="style.css">
  </head>
  <body>
    <ul>
   <li><a href="/index">Home</a></li>
   <li><a href="/quizzz">Quiz</a></li>
   <li><a href="/about">About</a></a></li>
   <li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
</ul>
<center>
  <br>
  </br>
  <br>
  </br>
<h1>About</h1>
<h2> 3 teenage coders worked very hard and through many struggles on the creation of Positive News Network! We would love it if you would read the following!!</h2>
<br></br>

<h3> Hi! Our names are Alea, Elizabeth, and Jadyn and we are part of Kode With Klossy Nashville, a 10 day coding camp, created by supermodel Karlie Kloss! We came up with this idea because we realized that when you go onto popular news sites all you see is negative articles! We hope these made you happy and brigthened up your day! XOXOX, </h3>

<br></b>

<h2>Elizabeth Collins,
Alea Pindat Kahele,
Jadyn Miller</h2>

<img src= "https://github.com/aleajane/aleajane.github.io/blob/master/unnamed-5.jpg?raw=true" width = "50%" height = "70%">
</center>
</body>

</html>