<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    
    <style>
      .bg3{
   background-image: url("https://img.freepik.com/free-photo/beautiful-composition-with-palm-leaves-on-yellow-background_24972-68.jpg?size=338&ext=jpg");
  /*height: 100%;*/
  /*background-position: center; */
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  /*background-size: cover;*/
  background-size:100%;
}
body{font-family:"Courier";}

.rotate {
transform: rotate(90deg);
}
    </style>
  </head>
  <body class="bg3">
  
  <h1>Food For Health is made to help young adults who need help choosing what food to make with the items they already have.</h1>
  <h4>Food For Health was founded by Val Osteen, Fatima Laghari, Nicole Tidwell, and Judy Jaden at the Kode With Klossy Nashville 2018 camp. We chose to do this because we have an interest in helping people make decisions that are wise for their health. Many of the food choices that are given to you are healthy because food can affect your health. Our mission is to provide young adults with healthy food choices with the foods they already have, so they can fill their appetite and stay healthy! 
  <br><br><br><br>
  
  <img class = "rotate" src="https://github.com/fatimalaghari13/fatimalaghari13.github.io/blob/master/IMG_0261.jpg?raw=true" alt="Git hub" height="50%" width="50%"></h4>
  
  </body>
  </html>

</body>
</html>