<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>charity_quiz/title>
  </head>

  <body>
    <h1>charity_quiz</h1>
    

<form method = "POST" action = "/charity">
<p>What is your name? <input type = "text" name = "username"></p>
<p>Would you like to support a human or animal charity? <input type ="text" name = "question"></p>
all_the_medicines = [
  #<charity_human:0x007fb739b1af88 @id=1, @name="mentally ill" @group="antibiotic">,
  #<charity_human:0x007fb739b1af88 @id=2, @name="labor" @group="anti-inflammatory">,
  #<charity_human:0x007fb739b1af88 @id=3, @name="children" @group="anti-histamine">
]
<input type="submit">  
  </form> 
 

  </body>
</html>
