<html>
  <head>
    <link rel="stylesheet" type="text/css" href="views/stylesheet/style.css">
    
    <style>
      .bg3{
   background-image: url("https://img.freepik.com/free-photo/beautiful-composition-with-palm-leaves-on-yellow-background_24972-68.jpg?size=338&ext=jpg");
  /*height: 100%;*/
  /*background-position: center; */
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  /*background-size: cover;*/
  background-size:100%;
}
body{font-family:"Courier";}
    </style>
  </head>
  <body class="bg3">
  
  <h1> Hello! Welcome to the Food For Health contact us page! If you have any questions, comments, or concerns you can contact us at:</h1>
  <h3>email: foodforhealth@gmail.com</h3>
  <h3>instagram: @foodforhealth</h3>
  <h3>twitter: @foodforhealth</h3>
  <h3>facebook page: Food For Health</h3>
  </body>
</html>