<!DOCTYPE html>
<html>
<head>
<title>Human</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  
  
<div class="container">
<a href= "https://www.compassion.com"><img src="http://wp.production.patheos.com/blogs/dharmadad/files/2015/05/starving-child-5.jpg" alt="humans are here" style="width:100%;"></a>
<div class="centered size">HUNGER/POVERTY</div>

</div>


<div class="container">
  <a href= "https://give.unrefugees.org/180413CORE_EVERGRN_P_3000/?SF_onetime=70141000001ATZcAAO&SF_monthly=70141000001ATbtAAG&utm_campaign=US_EN_UNHCR_Generic_Core&gclid=Cj0KCQjw-o_bBRCOARIsAM5NbIOQ_9C6wBsgtgOxpNZz7b5NeyKGpIwuZ_QHXREEN4uoNrJcrhFowG0aAv6oEALw_wcB&gclsrc=aw.ds">
<img src="https://www.mercurynews.com/wp-content/uploads/2018/06/SJM-L-ICERALLY-0620-08.jpg?w=620" alt="immigration is here" style="width:100%;"></a>
<div class="centered size">IMMIGRATION</div>
</div>


 
 
  <div class= "container"> 
 <a href= "https://www.stjude.org/give.html?sc_cid=kwp21256&s_kwcid=AL!4519!3!268784397076!e!!g!!st%20jude&ef_id=W081jQAAB_ECtuvR:20180803154337:s">
 <img src= "https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/cleanup_after_illness_slideshow/493ss_getty_rf_sick_young_girl_in_bed_with_thermometer.jpg" alt="illness is here" style="width:100%;"></a>
<div class="centered size">ILLNESS</div>
</div>

<div class="container">
  <a href="https://www.childhelp.org/"><img src= "http://keepkidssafe.org/wp-content/uploads/2015/06/myths-about-child-abuse.jpg" alt="abuse is here" style="width:100%;"></a>

<div class="centered size">ABUSE</div>
</div>


</body>
</html>