
<html>
<head>
  <link rel="stylesheet" type= "text/css" href="stylesheets/style.css">
</head>
<body>

<!--<h1>Welcome</h1>-->
<!--<p>Welcome to the postive news network! By taking our interactive quiz we can direct you to a positive news article! We came up with this idea because all of the media on popular news networks are negative! We hope that you enjoy your article! We linked an about page to read more about us, the creators! You can al </p>-->

<ul>
  <li><a href ="/index">Home</a></li>
  <li><a href="/quizzz">Quiz</a></li>
  <li><a href="/about">About</a></a></li>
  <li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
</ul>
<br></br>

<img src = "https://raw.githubusercontent.com/aleajane/aleajane.github.io/master/pnn.png" width = "50%" height = "500" align = "left" >

<div >
<h1 class="paragraph">Welcome </h1>
<h2 class="w3-myfont paragraph" >Welcome to the Postive News Network! By taking our <a href= "/quizzz">interactive quiz</a> we can direct you to a positive news article! We came up with this idea because all of the media on popular news networks are negative! We hope that you enjoy your article! We linked an about page to read more about us, the creators! You can also access a page called Kode With Klossy to learn about a free coding camp for girls, created by Karlie Kloss! </h2>
   </div>
   
<br></br>

<a href="https://www.instagram.com/kodewithklossy/?hl=en"><img src = "http://theodymusic.com/wp-content/uploads/2017/02/inconInstagramBW.png" width = "90" height = "90" title="Kode with Klossy Instagram" alt="Kode with Klossy Instagram"></a>

<a href="https://twitter.com/kodewithklossy?lang=en"><img src = "https://sguru.org/wp-content/uploads/2018/02/twitter_PNG33.png" width = "80" height = "100">

<a href="https://www.youtube.com/channel/UCsO7dduObJt0IKCVVsUuITw"><img src = "https://user-images.githubusercontent.com/1094151/29835459-106525fc-8cc0-11e7-8134-8b7eb3c79848.png" width = "190" height = "100"
>
   
</html>