
<html>
  <title>PNN</title>
<head>
 <link rel="stylesheet" type= "text/css" href="style.css">
</head>
<body>
  



<ul>
 <li><a href ="/index">Home</a></li>
 <li><a href="/quizzz">Quiz</a></li>
 <li><a href="/about">About</a></a></li>
 <li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
</ul>

<br></br>
<img src = "https://raw.githubusercontent.com/aleajane/aleajane.github.io/master/pnn.png" width = "50%" height = "500" >

 
</body>
</html>