<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>  

<body>




<h1> QUIZ</h1>
<h2> Take this short quiz to figure out what happy news article you should read!</h2>

<form method = "POST" action = "/results">
 <p> What is your name? <input type = "text" name = "username"></p>
 <p>What length do you want your article to be? <input type = "radio" name = "length"></p>
 <p><input type = "radio" name = "length" value = "1" checked> short<br></p>
 <p><input type = "radio" name = "length" value = "5"> medium<br></p>
 <p><input type = "radio" name = "length" value = "13"> long</p>
 
 <p> What type of topic would you like to read about today? <input type = "radio" name = "topic"></p>
 <p><input type = "radio" name = "topic" value = "2" checked> nature<br></p>
 <p><input type = "radio" name = "topic" value = "11"> women in tech<br></p>
 <p><input type = "radio" name = "topic" value = "9"> heart warming</p>
 
   <input type = "submit" value = "Click here to submit your quiz!!">
</form>
 
</body>
</html>