<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body background="http://clickpakistan.org/wp-content/uploads/2016/05/F-1.jpeg">

<h1>This is a heading.</h1>
<h2>This is a paragraph.</h2>

</body>
</html>



