<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type= "text/css" href="style.css">
      <center>
      
    <title>PNN</title>  
  </head>
  <ul>
 <li><a href="/index">Home</a></li>   
 <li><a href="/quizzz">Quiz</a></li>
 <li><a href="/about">About</a></a></li>
 <li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
 </ul>
  <body>
    <br></br>
    <br></br>
     <h1>Hello <%=@username%>!</h1>
  
<a href="https://www.sciencenews.org/article/how-parker-probe-was-built-survive-close-encounters-sun?tgt=more"><img src="https://www.sciencenews.org/sites/default/files/2018/07/main/articles/072418_lg_parker_feat.jpg" width="50%" height="50%" title="Space and Science" alt="Space and Science"></a>
<p>Click photo for your article!</p>
</body>
</center>
</html>
</html>

