<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type= "text/css" href="stylesheets/style.css">
      <center>
      
    <title>PNN</title>  
  </head>
  <ul>
 <li><a href="/index">Home</a></li>   
 <li><a href="/quizzz">Quiz</a></li>
 <li><a href="/about">About</a></a></li>
 <li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
 </ul>
  <body>
    <br></br>
    <br></br>
     <h1>Hello <%=@username%>!</h1>
  
<a href="https://www.boredpanda.com/happy-animal-facts/?utm_source=google&utm_medium=organic&utm_campaign=organic"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Sea_otters_holding_hands.jpg/800px-Sea_otters_holding_hands.jpg" width="50%" height="50%" title="Space and Science" alt="Space and Science"></a>
<p>Click photo for your article!</p>
</body>
</center>
</html>
</html>
