<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type= "text/css" href="style.css">
  <center>
      
      
    <title>PNN</title>  
  </head>
   <ul>
 <li><a href="/index">Home</a></li>   
 <li><a href="/quizzz">Quiz</a></li>
 <li><a href="/about">About</a></a></li>
 <li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
 </ul>
  <body>
       <br></br>
    <br></br>
    <h1>Hello <%=@username%>!</h1>
    <h1>Here is an article that would fit what you are looking for!</h1>
    
<a href="https://www.theatlantic.com/health/archive/2013/01/theres-more-to-life-than-being-happy/266805/">Read about shallow reef species!</a>
<br></br>
<a href="https://www.theatlantic.com/health/archive/2013/01/theres-more-to-life-than-being-happy/266805/"><img src="https://cdn.theatlantic.com/static/mt/assets/food/RTR29GZDinset.jpg" width="400" height="300" title="Pursiut of Happiness" alt="HappyFace"></a>
<p>Click photo for your article!</p>
</body>
</center>
</html>
</html>