<!DOCTYPE html>
<html>
<head>
  <center>
      
      <link rel="stylesheet" type= "text/css" href="stylesheets/style.css">
    <title>PNN</title>  
  </head>
   <ul>
 <li><a href="/index">Home</a></li>   
 <li><a href="/quizzz">Quiz</a></li>
 <li><a href="/about">About</a></a></li>
 <li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
 </ul>
  <body>
    <br></br>
    <br></br>
     <h1>Hello <%=@username%>!</h1>
    <h1>Here are some articles that would fit what you are looking for!</h1>
    
<a href="https://www.goodnewsnetwork.org/watch-good-kids-caught-on-camera-returning-wallet-filled-with-700-in-cash/">Read about some good kids!</a>
<br></br>
<a href="https://www.goodnewsnetwork.org/watch-good-kids-caught-on-camera-returning-wallet-filled-with-700-in-cash/"><img src="https://i.dailymail.co.uk/i/newpix/2018/07/27/15/4E9F5EB600000578-5999689-image-m-12_1532702806008.jpg" width="400" height="300" title="Good Kids!" alt="Good Kids!"></a>
<p>Click photo for your article!</p>
</body>
</center>
</html>
</html>
