<!DOCTYPE html>
<html>
<head>
  <center>
      <link rel="stylesheet" type= "text/css" href="stylesheets/style.css">
      
   <title>PNN</title>  
  </head>
    <ul>
 <li><a href="/index">Home</a></li>   
 <li><a href="/quizzz">Quiz</a></li>
 <li><a href="/about">About</a></a></li>
 <li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
 </ul>
  <body>
    <br></br>
    <br></br>
     <h1>Hello <%=@username%>!</h1>
    <h1>Here are some articles that would fit what you are looking for!</h1>
    
<a href="https://www.themuse.com/advice/6-nyc-tech-events-to-attend-if-you-want-to-advance-your-career">Read about how to advance your career in tech!</a>
<br></br>
<a href="https://www.themuse.com/advice/6-nyc-tech-events-to-attend-if-you-want-to-advance-your-career"><img src="https://pilbox.themuse.com/image.jpg?url=https%3A%2F%2Fassets.themuse.com%2Fuploaded%2Fattachments%2F18529.jpg%3Fv%3D46eaad59d30b098c0881439e589c8f8182571b8031ad29d86fa1c8312aca2077&h=367&prog=1" width="400" height="300" title="Amazing Events!" alt="Amazing Events!"></a>
<p>Click photo for your article!</p>
</body>
</center>
</html>
</html>
