<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type= "text/css" href="style.css">
     <center>
     
   <title>PNN</title>  
 </head>
 <ul>
<li><a href="/index">Home</a></li>  
<li><a href="/quizzz">Quiz</a></li>
<li><a href="/about">About</a></a></li>
<li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
</ul>
 <body>
   <br></br>
   <br></br>
    <h1>Hello <%=@username%>!</h1>
 
<p> If you don't like to read, our website is not the best option for you! Here are some animal friends images to look at!</p>
<img src="http://justsomething.co/wp-content/uploads/2015/06/happy-animals-25.jpg" width="400" height="300" title="Shallow Reef Species!" alt="Shallow Reef
Species!"></a>
<img src = "http://blog.africageographic.com/africa-geographic-blog/files/2013/09/BLT-Noahs-Ark-Animal-Sanctuary.jpg
http://blog.africageographic.com/africa-geographic-blog/files/2013/09/BLT-Noahs-Ark-Animal-Sanctuary.jpg
" width = "400" height = "300">
<img src = "http://wildography.co.uk/wp-content/uploads/2012/08/animal-friends-prairie-dog-and-starling.jpg
http://wildography.co.uk/wp-content/uploads/2012/08/animal-friends-prairie-dog-and-starling.jpg
" width = "400" height = "300">
</body>
</center>
</html>
</html>