<!DOCTYPE html>
<html>
<head>
  
      
      
    <title>PNN</title>  
  </head>
  
  <body>
    
     <h1>Hello <%=@username%>!</h1>
    <h1>Here are some articles that would fit what you are looking for!</h1>
    
<a href="https://www.cnn.com/2018/07/25/us/george-yeardley-remains-jamestown-trnd/">Read about something archeologists unearthed!</a>
<br></br>
