<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type= "text/css" href="style.css">
  <center>
  
      
      
    <title>PNN</title>  
  </head>
  <ul>
 <li><a href="/index">Home</a></li>   
 <li><a href="/quizzz">Quiz</a></li>
 <li><a href="/about">About</a></a></li>
 <li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
 </ul>
  <body>
    <br></br>
    <br></br>
     <h1>Hello <%=@username%>!</h1>
    <h1>Here are some articles that would fit what you are looking for!</h1>
    
<a href="https://www.sciencenews.org/article/shallow-reef-species-may-not-find-refuge-deeper-water-habitats">Read about shallow reef species!</a>
<br></br>
<a href="https://www.sciencenews.org/article/shallow-reef-species-may-not-find-refuge-deeper-water-habitats"><img src="https://www.sciencenews.org/sites/default/files/2018/07/main/articles/071918_LR_coral-reef_feat.jpg" width="400" height="300" title="Shallow Reef Species!" alt="Shallow Reef Species!"></a>
<p>Click photo for your article!</p>
</body>
</center>
</html>
</html>